html{
    font-size: 12px;
}
body {
    font-size: 1em;;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
    height: calc(100% - 180px);  /* Subtract navbar height from full height */
    padding: 20px;  /* Padding for spacing */
    box-sizing: border-box;
    text-align: center;
    width: 100%;  /* Full width */
}

.input-group {
    display: flex;
    flex-direction: row;  /* Stack items vertically */
    align-items: center;
    justify-content: center;
}
.header-title {
    font-size: 4rem; 
    font-weight: 900;
    color: #333;
    margin: 10px 0; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.subtitle {
    font-size: 1.3rem;  
    color: #383838;
    margin: 10px 0 20px;  
    font-weight: 500;
    opacity: 0.8; 
}
.icon-left {
    font-size: 3rem; 
    color: black; 
    margin-left: 20px; 
}

.input-group, p{
    width: 500px;
    text-align: left;
}
input{
    height: 45px;
    flex: 5;
    margin-right: 10px;
    font-size: 1.1rem;
}
.input input:focus {
    border-color: #a25cff;  /* Blue border on focus */
    box-shadow: 0 0 10px rgba(162, 92, 255, 0.5); /* Soft blue glow */
}
.input button:hover {
    transform: translateY(-3px); /* Button lift effect */
}

.input button:active {
    transform: translateY(1px);  /* Button pressed effect */
}
button{
    height: 45px;
    flex:1;

}

@media (max-width: 700px) {
    .header-title {
        font-size: 3.6rem; 
    }
    .subtitle {
        font-size: 1.2rem;
    }
    .input-group input {
        font-size: 1.0rem;
        height: 40px;
    }
    .input-group button {
        height: 40px;
    }
}

@media (max-width: 550px) {
    .input-group, p{
        width: 100%;
        margin: auto;
        text-align: left;

    }
    .header-title {
        font-size: 3.0rem;
    }
    .subtitle {
        font-size: 1.0rem;
    }
    input {
        font-size: 0.8rem;
        height: 35px;
    }
    button {
        height: 35px;
    }
}

@media (max-width: 445px) {
    .header-title {
        font-size: 2.4rem;
    }
    .subtitle {
        font-size: 0.8rem;
    }
}