<app-logout></app-logout>
<h1>Lyrics Finder</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Lyrics Finder</h1>
            <div class="input">
                <input type="text" [(ngModel)]="songName" placeholder="Search for lyrics...">
                <button (click)="search()">Search</button>
                 <!-- <a routerLink="/songResult/songName">Search</a> -->
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>
