<app-logout></app-logout>
<h1>Lyrics Finder</h1>

<div class="input">
    <label>Please enter a song title: <input type="text"></label>
    <a href="songResult">Search</a>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Lyrics Finder</h1>
            <div class="input">
                <input type="text" class="form-control" placeholder="Search for lyrics...">
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>
