<div class="favorites-container">
  <div class="header">
    <app-logout></app-logout>
    <h1>My Favorite Songs</h1>
    <p class="subtitle">Your personally curated collection</p>
  </div>

  <div class="favorites-grid">
    @if (!(dataService.items$ | async)?.length) {
    <p>Please add some songs to your favorites!</p>
    } @else { @for(song of dataService.items$ | async; track $index){
    <app-song-card
      [id]="song.id"
      [title]="song.songTitle"
      [artist]="song.artist"
      [image]="song.image"
      [releaseDate]="'Release Date: ' + song.releaseDate"
      [lyrics]="song.lyrics"
    ></app-song-card>
    } }
  </div>
</div>
<app-navbar></app-navbar>
