html {
  font-size: 16px;  
}
body {
  font-size: 1em;
}
.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .favorites-container app-logout {
    flex: none;
    margin-left: auto;
  }
  
  .header {
    text-align: center; 
    position: fixed;
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    box-shadow: 0 8px 6px rgba(26, 26, 26, 0.1); 
    z-index: 1000; 
    width: 100%;
    top: 0 ;
  }
  .no-song{
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
  }
  .header h1 {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 10px; 
    margin-top: 10px;
  }
  
  .header .subtitle {
    font-size: 1.2rem;
    color: #555; 
    margin-top: 0; 
    margin-bottom: 10px; 
  }
  

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Adjust min-width to fit your design */
    gap: 20px; 
    max-width: 85%;
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box; 
}

