<div class="main">
    <div class="user-container">
        <h2>Login</h2>
        <form [formGroup]="loginInfoForm" (ngSubmit)="login()" [ngClass]="'form'">
            <div class = "userinput">
                <div>
                    <label for="email">Email</label>
                    <input type="email"  class="form-control" name="email" placeholder="Email" formControlName="email">
                </div>
                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
                </div>
            </div>
            <button type="submit">Login</button>
            <div class="footer">
                <div class="register">
                    <a href="/register">Need Account? Register</a>
                </div>
                <div class="reset">
                    <a href="/reset-password" class="text-danger">Forgot Password?</a>
                </div>
            </div>

        </form>
    </div>
</div>
