<div class="card-container">
        <mat-card class="mat-card" appearance="outlined">
            <div class="favorites-container">
                <span>{{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}</span>
                <mat-icon [class.favorite]="isFavorite" (click)="toggleFavorite()">star</mat-icon>
            </div>
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>
                        THIS IS THE TITLE
                        <!-- <a [routerLink]="'/product/' + product.id">{{product.title}}</a> -->
                    </mat-card-title>
                    <mat-card-subtitle class="mat-card">
                        <!-- {{product.category}} -->
                         THIS IS THE SUBTITLE
                    </mat-card-subtitle>
                    <!-- <img mat-card-sm-image src={{product.image}}> -->
                    <img mat-card-sm-image src="https://t4.ftcdn.net/jpg/01/43/42/83/360_F_143428338_gcxw3Jcd0tJpkvvb53pfEztwtU9sxsgT.jpg">
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <!-- ${{product.price}} -->
                 THIS IS THE CONTENT
            </mat-card-content>
        </mat-card>
</div>