.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.favorites-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; /* Match the width of the mat-card */
  margin-bottom: 10px;
}

.mat-icon.favorite {
  color: gold;
  cursor: pointer;
}

.mat-card {
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.polaroid-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cardheader {
  margin-bottom: 10px;
  text-align: center; /* Center the content within the header */
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center; /* Center the title text */
}

.mat-card-subtitle {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 5px;
  text-align: center; /* Center the subtitle text */
}

.release-date {
  font-size: 1rem;
  color: darkgray;
  margin-bottom: 10px;
  text-align: center; /* Center the release date text */
}

.mat-card-content a {
  color: #007bff;
  text-decoration: none;
}

.mat-card-content a:hover {
  text-decoration: underline;
}