<div class="card-container">
    <div class="favorites-container">
        <span>{{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}</span>
        <mat-icon [class.favorite]="isFavorite" (click)="toggleFavorite()">star</mat-icon>
    </div>
    <mat-card class="mat-card" appearance="outlined">
        <img mat-card-md-image [src]="sanitizedImage" alt="Song Image" class="polaroid-image">
        <mat-card-header class="cardheader">
            <mat-card-title>{{title()}}</mat-card-title>
            <mat-card-subtitle>{{artist()}}</mat-card-subtitle>
        </mat-card-header>
        <div class="release-date">{{releaseDate()}}</div>
        <mat-card-content>
            <a [href]="getLyricsUrl()" target="_blank">Get Lyrics here</a>
        </mat-card-content>
    </mat-card>
</div>