<div class="user-container">
    <h2>Register</h2>
    <form [formGroup]="registerInfoForm" (ngSubmit)="register()">
      <div>
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" placeholder="First Name" class="form-control" name="firstName" formControlName="firstName">

      </div>
      <div>
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" name="lastName" formControlName="lastName">
      </div>
      <div>
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" formControlName="email">
      </div>
      <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password">
      </div>
      <button type="submit">Register</button>
      <div class="footer">
        <div class="back-to-login">
          <a href="/login" >Already have an account? Login</a>
        </div>
      </div>
    </form>
  </div>
