<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form >
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Email Sent</h4>
                        </div>
                        <div class="mb-3">
                            <p class="text-muted">A link has been sent to your email. Please verify your email.</p>
                        </div>
                        <div class="col-md-6">
                            <a href="/login" style="text-decoration: none;">Back to Login</a>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

