<div class="main">
    <div class="user-container">
        <h2>Forgot Password?</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" [ngClass]="'form'">
            <div class = "userinput">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email">
            </div>
            <button type="submit" >Send Link</button>
            <div class="footer">
                <div class="back-to-login">
                    <a href="/login">Back to Login</a>
                </div>
            </div>
        </form>
    </div>
</div>

