<div class="container-fluid h-75">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="login-container">
            <div class="card shadow">
                <div class="card-body p-3">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" [ngClass]="'form'">
                        <div class="mb-2">
                            <h4 class="text-dark text-muted">Forgot Password</h4>
                        </div>
                        <div class="mb-2">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" formControlName="email">
                        </div>
                        <button type="submit" class="btn btn-info mb-2">Send Link</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/login" class="back-to-login">Back to Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

