.favorites-container {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    width: 100%;
    padding: 10px 20px; 
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    box-shadow: 0 8px 6px rgba(26, 26, 26, 0.1); 
    z-index: 1000; 
}
.header h1 {
    font-size: 3rem; /* Adjusted font size for better alignment */
    font-weight: bold;
    text-align: center;
    margin: 0; /* Remove margin for better alignment */
    color: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.subtitle {
    color: #666;
    font-size: 1.1rem;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust min-width to fit your design */
    gap: 20px; /* Space between grid items */
    max-width: 85%;
    margin: 0 auto;
    padding: 20px; /* Add padding to the grid container */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}