.topnav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(26, 26, 26, 0.1); /* Upper box shadow */
    border-top: 1px solid #ccc; /* Top border */
    /* background: #e8d0ff; Background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure the navbar stays on top */

}

.topnav a {
    flex: 1;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 14px 0;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}